<!DOCTYPE html>
<html lang="en">

        <div class="page-header">
                <h1>Guns & Gentrification</h1> 
                <a href="/">Homepage</a>
                <a href="/about">About</a>
                <a href="/crimes">Gun Crimes</a>
        
              </div>
        
        <html lang="en">
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracts</title>
</head>
<div class="lede-image" align="center">
        <iframe id="carto" width="750" height="750" frameborder="" src="https://stanford.carto.com/u/milleran/builder/3ee5fa98-e942-4b90-892a-31d3f67417d2/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</div>
<body>
    <table class="table table-striped">
        <thead><h2>Total gun crimes per year</h2></thead>
          <tr>
            <th scope="col">Year</th>
            <th scope="col"># of gun crimes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">2011</th>
            <td>4121</td>
          </tr>
          <tr>
            <th scope="row">2012</th>
            <td>4242</td>
          </tr>
          <tr>
            <th scope="row">2013</th>
            <td>3392</td>
          </tr>
          <tr>
            <th scope="row">2014</th>
            <td>3667</td>
          </tr>
          <tr>
            <th scope="row">2015</th>
            <td>4104</td>
          </tr>
          <tr>
            <th scope="row">2016</th>
            <td>5929</td>
          </tr>
        </tbody>
      </table>
   
            <table class="table table-striped" align="center">
                <thead><h2>Types of gun crimes</h2></thead>
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Total count</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Assault</th>
                    <td>13,701</td>
                  </tr>
                  <tr>
                    <th scope="row">Battery</th>
                    <td>11,258</td>
                  </tr>
                  <tr>
                    <th scope="row">Criminal Sexual Assault</th>
                    <td>496</td>
                  </tr>
                </tbody>
              </table>
                    <table class="table table-striped table-m" align="center">
                        <thead><h2>Arrests per year</h2></thead>
                        
                          <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Number of arrests</th>
                            <th scope="col">Number of non-arrests</th>
                            <th scope="col">Arrests %</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>2011</td>
                            <td>833</td>
                            <td>3288</td>
                            <td>20.21%</td>

                          </tr>
                          <tr>
                            <td>2012</td>
                            <td>834</td>
                            <td>3408</td>
                            <td>19.3%</td>

                          </tr>
                          <tr>
                            <td>2013</td>
                            <td>693</td>
                            <td>2699</td>
                            <td>20.4%</td>

                          </tr>
                          <tr>
                            <td>2014</td>
                            <td>685</td>
                            <td>2982</td>
                            <td>18.6%</td>

                            </tr>
                        <tr>
                            <td>2015</td>
                            <td>665</td>
                            <td>3439</td>
                            <td>16.2%</td>

                        </tr>
                        <tr>
                            <td>2016</td>
                            <td>726</td>
                            <td>5203</td>
                            <td>12.2%</td>
                        </tr>
                        </tbody>
                      </table>
    
</body>
<div class="page-footer">
        <a href="/">Homepage</a>
        <a href="/about">About</a>
        <a href="/crimes">Gun Crimes</a>
    
          </div>
</html>