<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracts</title>
</head>
<body>

<div class="dropdown">
        {% for t in tracts %}

        <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/entity/{{t.id}}">

                    <ul>
                       <li> {{t.name}} </li>
                    </ul>
                </a>
            {% endfor %}
        </div>
    
    </div>
    
</body>
</html>